body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:855px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u1973 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:104px;
}
#u1975 {
  position:absolute;
  left:1px;
  top:125px;
  width:418px;
  height:104px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:44px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1977 {
  position:absolute;
  left:173px;
  top:96px;
  width:75px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1979 {
  position:absolute;
  left:44px;
  top:138px;
  width:345px;
  height:32px;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1980 {
  position:absolute;
  left:12px;
  top:144px;
  width:20px;
  height:20px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:2px;
}
#u1982 {
  position:absolute;
  left:12px;
  top:177px;
  width:393px;
  height:1px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984 {
  position:absolute;
  left:0px;
  top:185px;
  width:419px;
  height:550px;
  overflow:hidden;
}
#u1984_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:550px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1984_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1985 {
  position:absolute;
  left:12px;
  top:56px;
  width:75px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
.u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
.u1989 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1987-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u1987-2 {
  position:absolute;
  left:96px;
  top:0px;
  width:90px;
  height:38px;
}
#u1987-3 {
  position:absolute;
  left:192px;
  top:0px;
  width:90px;
  height:38px;
}
#u1987-4 {
  position:absolute;
  left:288px;
  top:0px;
  width:90px;
  height:38px;
}
#u1987-5 {
  position:absolute;
  left:0px;
  top:42px;
  width:90px;
  height:38px;
}
#u1987-6 {
  position:absolute;
  left:96px;
  top:42px;
  width:90px;
  height:38px;
}
#u1987-7 {
  position:absolute;
  left:192px;
  top:42px;
  width:90px;
  height:38px;
}
#u1987-8 {
  position:absolute;
  left:288px;
  top:42px;
  width:90px;
  height:38px;
}
#u1987-9 {
  position:absolute;
  left:0px;
  top:84px;
  width:90px;
  height:38px;
}
#u1987-10 {
  position:absolute;
  left:96px;
  top:84px;
  width:90px;
  height:38px;
}
#u1987-11 {
  position:absolute;
  left:192px;
  top:84px;
  width:90px;
  height:38px;
}
#u1987-12 {
  position:absolute;
  left:288px;
  top:84px;
  width:90px;
  height:38px;
}
#u1987-13 {
  position:absolute;
  left:0px;
  top:126px;
  width:90px;
  height:38px;
}
#u1987-14 {
  position:absolute;
  left:96px;
  top:126px;
  width:90px;
  height:38px;
}
#u1987-15 {
  position:absolute;
  left:192px;
  top:126px;
  width:90px;
  height:38px;
}
#u1987-16 {
  position:absolute;
  left:288px;
  top:126px;
  width:90px;
  height:38px;
}
#u1987 {
  position:absolute;
  left:12px;
  top:91px;
  width:378px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1990 {
  position:absolute;
  left:12px;
  top:265px;
  width:12px;
  height:19px;
  font-size:16px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:40px;
}
#u1992 {
  position:absolute;
  left:1px;
  top:288px;
  width:419px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1993 {
  position:absolute;
  left:2px;
  top:12px;
  width:415px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1994 {
  position:absolute;
  left:12px;
  top:333px;
  width:12px;
  height:19px;
  font-size:16px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:194px;
}
#u1996 {
  position:absolute;
  left:1px;
  top:355px;
  width:419px;
  height:194px;
  font-size:14px;
  text-align:left;
}
#u1997 {
  position:absolute;
  left:2px;
  top:89px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u1998 {
  position:absolute;
  left:1px;
  top:395px;
  width:419px;
  height:1px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2000 {
  position:absolute;
  left:1px;
  top:435px;
  width:419px;
  height:1px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2002 {
  position:absolute;
  left:1px;
  top:476px;
  width:419px;
  height:1px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2px;
}
#u2004 {
  position:absolute;
  left:1px;
  top:516px;
  width:419px;
  height:1px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  position:absolute;
  left:12px;
  top:369px;
  width:29px;
  height:16px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  position:absolute;
  left:12px;
  top:409px;
  width:29px;
  height:16px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2010 {
  position:absolute;
  left:12px;
  top:449px;
  width:29px;
  height:16px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:12px;
  top:488px;
  width:29px;
  height:16px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:12px;
  top:528px;
  width:29px;
  height:16px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
  line-height:18px;
}
#u2016 {
  position:absolute;
  left:398px;
  top:48px;
  width:14px;
  height:486px;
  color:#0099FF;
  line-height:18px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u2018 {
  position:absolute;
  left:66px;
  top:0px;
  width:75px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u2019 {
  position:absolute;
  left:0px;
  top:9px;
  width:75px;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
  text-align:center;
}
#u2020 {
  position:absolute;
  left:267px;
  top:0px;
  width:75px;
  height:35px;
  color:#0099FF;
  text-align:center;
}
#u2021 {
  position:absolute;
  left:0px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:122px;
  height:5px;
}
#u2022 {
  position:absolute;
  left:44px;
  top:42px;
  width:119px;
  height:2px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:-7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:550px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1984_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2024 {
  position:absolute;
  left:12px;
  top:56px;
  width:75px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
  text-align:center;
}
#u2026 {
  position:absolute;
  left:66px;
  top:0px;
  width:75px;
  height:35px;
  color:#0099FF;
  text-align:center;
}
#u2027 {
  position:absolute;
  left:0px;
  top:9px;
  width:75px;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u2028 {
  position:absolute;
  left:267px;
  top:0px;
  width:75px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u2029 {
  position:absolute;
  left:0px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:122px;
  height:5px;
}
#u2030 {
  position:absolute;
  left:239px;
  top:42px;
  width:119px;
  height:2px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:-7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:12px;
  top:85px;
  width:92px;
  height:38px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:113px;
  top:85px;
  width:92px;
  height:38px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:213px;
  top:85px;
  width:92px;
  height:38px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:314px;
  top:85px;
  width:92px;
  height:38px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2040 {
  position:absolute;
  left:12px;
  top:131px;
  width:92px;
  height:38px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:113px;
  top:131px;
  width:92px;
  height:38px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:213px;
  top:131px;
  width:92px;
  height:38px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2046 {
  position:absolute;
  left:314px;
  top:131px;
  width:92px;
  height:38px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:12px;
  top:177px;
  width:92px;
  height:38px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:113px;
  top:177px;
  width:92px;
  height:38px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:213px;
  top:177px;
  width:92px;
  height:38px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  position:absolute;
  left:314px;
  top:177px;
  width:92px;
  height:38px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:12px;
  top:225px;
  width:92px;
  height:38px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2058 {
  position:absolute;
  left:113px;
  top:225px;
  width:92px;
  height:38px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:213px;
  top:225px;
  width:92px;
  height:38px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:314px;
  top:225px;
  width:92px;
  height:38px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:12px;
  top:272px;
  width:92px;
  height:38px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066 {
  position:absolute;
  left:113px;
  top:272px;
  width:92px;
  height:38px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:213px;
  top:272px;
  width:92px;
  height:38px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:314px;
  top:272px;
  width:92px;
  height:38px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:12px;
  top:318px;
  width:92px;
  height:38px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2074 {
  position:absolute;
  left:113px;
  top:318px;
  width:92px;
  height:38px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:213px;
  top:318px;
  width:92px;
  height:38px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2078 {
  position:absolute;
  left:314px;
  top:318px;
  width:92px;
  height:38px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2080 {
  position:absolute;
  left:12px;
  top:366px;
  width:92px;
  height:38px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:113px;
  top:366px;
  width:92px;
  height:38px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:213px;
  top:366px;
  width:92px;
  height:38px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2086 {
  position:absolute;
  left:314px;
  top:366px;
  width:92px;
  height:38px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2088 {
  position:absolute;
  left:12px;
  top:413px;
  width:92px;
  height:38px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:113px;
  top:413px;
  width:92px;
  height:38px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:213px;
  top:413px;
  width:92px;
  height:38px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094 {
  position:absolute;
  left:314px;
  top:413px;
  width:92px;
  height:38px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:349px;
  top:37px;
  width:56px;
  height:34px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:9px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u2098 {
  position:absolute;
  left:12px;
  top:37px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u2099 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2100 {
  position:absolute;
  left:452px;
  top:167px;
  width:403px;
  height:85px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
