body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u1 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u2 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u3 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:5px;
  top:123px;
  width:410px;
  height:240px;
}
#u5 {
  position:absolute;
  left:2px;
  top:112px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:5px;
  top:222px;
  width:410px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8 {
  position:absolute;
  left:130px;
  top:253px;
  width:242px;
  height:33px;
  color:#666666;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:5px;
  top:302px;
  width:410px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u12 {
  position:absolute;
  left:15px;
  top:259px;
  width:64px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u14 {
  position:absolute;
  left:322px;
  top:312px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u14_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u14.selected {
}
#u14_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u14.disabled {
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u14_ann {
  position:absolute;
  left:395px;
  top:308px;
  width:1px;
  height:1px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:15px;
  top:230px;
  width:248px;
  height:19px;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u18 {
  position:absolute;
  left:18px;
  top:167px;
  width:61px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20 {
  position:absolute;
  left:130px;
  top:159px;
  width:272px;
  height:50px;
  color:#666666;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:15px;
  top:128px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24 {
  position:absolute;
  left:349px;
  top:177px;
  width:32px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:122px;
  top:128px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:84px;
  width:420px;
  height:652px;
  overflow:hidden;
  visibility:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:652px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:652px;
}
#u29 {
  position:absolute;
  left:1px;
  top:0px;
  width:419px;
  height:652px;
}
#u30 {
  position:absolute;
  left:2px;
  top:318px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:73px;
  top:241px;
  width:276px;
  height:191px;
}
#u32 {
  position:absolute;
  left:2px;
  top:88px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:2px;
}
#u33 {
  position:absolute;
  left:73px;
  top:284px;
  width:276px;
  height:1px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-8px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u35 {
  position:absolute;
  left:179px;
  top:255px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:25px;
}
#u37 {
  position:absolute;
  left:95px;
  top:295px;
  width:233px;
  height:25px;
  font-size:16px;
  line-height:25px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:95px;
  top:382px;
  width:108px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:220px;
  top:382px;
  width:108px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u28_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:652px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:109px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u44 {
  position:absolute;
  left:132px;
  top:286px;
  width:135px;
  height:109px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:46px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u46 {
  position:absolute;
  left:132px;
  top:363px;
  width:135px;
  height:18px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48 {
  position:absolute;
  left:179px;
  top:307px;
  width:41px;
  height:41px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:652px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:109px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u51 {
  position:absolute;
  left:132px;
  top:286px;
  width:135px;
  height:109px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:46px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u53 {
  position:absolute;
  left:132px;
  top:363px;
  width:135px;
  height:18px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u55 {
  position:absolute;
  left:179px;
  top:302px;
  width:41px;
  height:41px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u57 {
  position:absolute;
  left:5px;
  top:38px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:95px;
  top:103px;
  visibility:hidden;
}
#u59_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:20px;
  top:92px;
  width:100px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:20px;
  top:181px;
  width:100px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:20px;
  top:257px;
  width:100px;
  height:60px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:20px;
  top:344px;
  width:100px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u68 {
  position:absolute;
  left:290px;
  top:585px;
  width:100px;
  height:60px;
}
#u69 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u70 {
  position:absolute;
  left:20px;
  top:418px;
  width:100px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u72 {
  position:absolute;
  left:20px;
  top:691px;
  width:100px;
  height:60px;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:70px;
  top:152px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u74_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:70px;
  top:221px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u76_seg1 {
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u77 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:70px;
  top:317px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u78_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:847px;
}
#u80 {
  position:absolute;
  left:209px;
  top:80px;
  width:1px;
  height:846px;
}
#u81 {
  position:absolute;
  left:2px;
  top:415px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:20px;
  top:780px;
  width:100px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:70px;
  top:751px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u84_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u85 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:20px;
  top:513px;
  width:100px;
  height:40px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u88 {
  position:absolute;
  left:20px;
  top:585px;
  width:100px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u90 {
  position:absolute;
  left:290px;
  top:691px;
  width:100px;
  height:60px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:70px;
  top:384px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u92_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:70px;
  top:478px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u94_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u95 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:120px;
  top:533px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:224px;
  height:8px;
}
#u96_seg1 {
  position:absolute;
  left:216px;
  top:-4px;
  width:8px;
  height:56px;
}
#u96_seg2 {
  position:absolute;
  left:210px;
  top:39px;
  width:20px;
  height:21px;
}
#u97 {
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:290px;
  top:615px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  position:absolute;
  left:-170px;
  top:-4px;
  width:174px;
  height:8px;
}
#u98_seg1 {
  position:absolute;
  left:-177px;
  top:-10px;
  width:20px;
  height:21px;
}
#u99 {
  position:absolute;
  left:-135px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:340px;
  top:645px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u100_seg1 {
  position:absolute;
  left:-274px;
  top:24px;
  width:278px;
  height:8px;
}
#u100_seg2 {
  position:absolute;
  left:-274px;
  top:24px;
  width:8px;
  height:22px;
}
#u100_seg3 {
  position:absolute;
  left:-280px;
  top:33px;
  width:20px;
  height:21px;
}
#u101 {
  position:absolute;
  left:-180px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:340px;
  top:645px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u102_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:340px;
  top:751px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:133px;
}
#u104_seg1 {
  position:absolute;
  left:-274px;
  top:125px;
  width:278px;
  height:8px;
}
#u104_seg2 {
  position:absolute;
  left:-274px;
  top:89px;
  width:8px;
  height:44px;
}
#u104_seg3 {
  position:absolute;
  left:-280px;
  top:82px;
  width:20px;
  height:21px;
}
#u105 {
  position:absolute;
  left:-140px;
  top:121px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:41px;
  top:44px;
  width:58px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:290px;
  top:44px;
  width:58px;
  height:17px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:290px;
  top:615px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:-170px;
  top:-4px;
  width:174px;
  height:8px;
}
#u110_seg1 {
  position:absolute;
  left:-177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:-135px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u112 {
  position:absolute;
  left:398px;
  top:31px;
  width:30px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:440px;
  top:28px;
  width:140px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
