body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8564 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u8565 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u8566 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u8567 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u8568 {
  position:absolute;
  left:165px;
  top:229px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u8569 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u8570 {
  position:absolute;
  left:121px;
  top:267px;
  width:187px;
  height:17px;
  color:#999999;
  text-align:center;
}
#u8571 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u8572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:96px;
}
#u8572 {
  position:absolute;
  left:161px;
  top:115px;
  width:101px;
  height:96px;
}
#u8573 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
