body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2700 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u2701 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u2702 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2704 {
  position:absolute;
  left:172px;
  top:137px;
  width:76px;
  height:76px;
}
#u2705 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u2706 {
  position:absolute;
  left:170px;
  top:229px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u2707 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2708 {
  position:absolute;
  left:98px;
  top:267px;
  width:225px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u2709 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u2710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
}
#u2710 {
  position:absolute;
  left:15px;
  top:305px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2710_img.selected {
}
#u2710.selected {
}
#u2711 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2712 {
  position:absolute;
  left:360px;
  top:40px;
  width:45px;
  height:36px;
}
#u2713 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u2714 {
  position:absolute;
  left:9px;
  top:34px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u2715 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
