body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:10px;
  top:10px;
  width:919px;
  height:583px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:284px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1319 {
  position:absolute;
  left:20px;
  top:20px;
  width:900px;
  height:1px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1321 {
  position:absolute;
  left:600px;
  top:20px;
  width:160px;
  height:30px;
  color:#FF0000;
}
#u1322 {
  position:absolute;
  left:0px;
  top:13px;
  width:160px;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1323 {
  position:absolute;
  left:800px;
  top:20px;
  width:120px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u1324 {
  position:absolute;
  left:0px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  position:absolute;
  left:20px;
  top:70px;
  width:350px;
  height:30px;
}
#u1326 {
  position:absolute;
  left:0px;
  top:6px;
  width:350px;
  word-wrap:break-word;
}
#u1327 {
  position:absolute;
  left:20px;
  top:110px;
  width:895px;
  height:75px;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  color:#FF9900;
}
#u1329 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1330 {
  position:absolute;
  left:60px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1331 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1332 {
  position:absolute;
  left:160px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1333 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1334 {
  position:absolute;
  left:360px;
  top:0px;
  width:110px;
  height:30px;
  color:#FF9900;
}
#u1335 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1336 {
  position:absolute;
  left:470px;
  top:0px;
  width:70px;
  height:30px;
  color:#FF9900;
}
#u1337 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1338 {
  position:absolute;
  left:540px;
  top:0px;
  width:70px;
  height:30px;
  color:#FF9900;
}
#u1339 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u1340 {
  position:absolute;
  left:610px;
  top:0px;
  width:80px;
  height:30px;
  color:#FF9900;
}
#u1341 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1342 {
  position:absolute;
  left:690px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1343 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1344 {
  position:absolute;
  left:790px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1345 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u1346 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:40px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1348 {
  position:absolute;
  left:60px;
  top:30px;
  width:100px;
  height:40px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1350 {
  position:absolute;
  left:160px;
  top:30px;
  width:200px;
  height:40px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u1352 {
  position:absolute;
  left:360px;
  top:30px;
  width:110px;
  height:40px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1354 {
  position:absolute;
  left:470px;
  top:30px;
  width:70px;
  height:40px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1356 {
  position:absolute;
  left:540px;
  top:30px;
  width:70px;
  height:40px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u1358 {
  position:absolute;
  left:610px;
  top:30px;
  width:80px;
  height:40px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1360 {
  position:absolute;
  left:690px;
  top:30px;
  width:100px;
  height:40px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1362 {
  position:absolute;
  left:790px;
  top:30px;
  width:100px;
  height:40px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1364 {
  position:absolute;
  left:20px;
  top:205px;
  width:200px;
  height:40px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:820px;
  top:145px;
  width:80px;
  height:30px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1368 {
  position:absolute;
  left:376px;
  top:314px;
  width:257px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1370 {
  position:absolute;
  left:20px;
  top:260px;
  width:486px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1371 {
  position:absolute;
  left:0px;
  top:6px;
  width:486px;
  word-wrap:break-word;
}
