body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6884 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u6884_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6884_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6886 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6887 {
  position:absolute;
  left:183px;
  top:71px;
  width:182px;
  height:160px;
}
#u6888 {
  position:absolute;
  left:2px;
  top:72px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u6889 {
  position:absolute;
  left:334px;
  top:64px;
  width:20px;
  height:9px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6891 {
  position:absolute;
  left:240px;
  top:71px;
  width:93px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6892 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6893 {
  position:absolute;
  left:199px;
  top:111px;
  width:149px;
  height:1px;
  color:#FFFFFF;
}
#u6894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6895 {
  position:absolute;
  left:199px;
  top:151px;
  width:149px;
  height:1px;
  color:#FFFFFF;
}
#u6896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6897 {
  position:absolute;
  left:199px;
  top:191px;
  width:149px;
  height:1px;
  color:#FFFFFF;
}
#u6898 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6899 {
  position:absolute;
  left:240px;
  top:113px;
  width:93px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6900 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u6901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6901 {
  position:absolute;
  left:240px;
  top:153px;
  width:93px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6902 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6903 {
  position:absolute;
  left:240px;
  top:190px;
  width:110px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u6904 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6905 {
  position:absolute;
  left:200px;
  top:80px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6906 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6907 {
  position:absolute;
  left:200px;
  top:124px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6908 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6909 {
  position:absolute;
  left:200px;
  top:165px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6910 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6911 {
  position:absolute;
  left:200px;
  top:202px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u6912 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6914 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u6917 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u6918 {
  position:absolute;
  left:15px;
  top:35px;
  width:11px;
  height:16px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  text-align:center;
}
#u6920 {
  position:absolute;
  left:85px;
  top:31px;
  width:205px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  text-align:center;
}
#u6921 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u6922 {
  position:absolute;
  left:339px;
  top:39px;
  width:22px;
  height:4px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6924 {
  position:absolute;
  left:10px;
  top:7px;
  width:360px;
  height:11px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u6926 {
  position:absolute;
  left:0px;
  top:619px;
  width:375px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6927 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6928 {
  position:absolute;
  left:10px;
  top:75px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6930 {
  position:absolute;
  left:10px;
  top:225px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6932 {
  position:absolute;
  left:10px;
  top:105px;
  width:355px;
  height:110px;
}
#u6933 {
  position:absolute;
  left:2px;
  top:47px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6934 {
  position:absolute;
  left:20px;
  top:145px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u6936 {
  position:absolute;
  left:20px;
  top:115px;
  width:355px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u6937 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6938 {
  position:absolute;
  left:275px;
  top:145px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:225px;
  height:21px;
}
#u6940p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:217px;
  height:1px;
}
#u6940p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:228px;
  height:22px;
}
#u6940p001 {
  position:absolute;
  left:202px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6940p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u6940.compound {
  width:0px;
  height:0px;
}
#u6940 {
  position:absolute;
  left:80px;
  top:155px;
  width:215px;
  height:1px;
}
#u6941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6942 {
  position:absolute;
  left:20px;
  top:185px;
  width:215px;
  height:20px;
  color:#666666;
}
#u6943 {
  position:absolute;
  left:0px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u6944 {
  position:absolute;
  left:80px;
  top:136px;
  width:215px;
  height:20px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u6945 {
  position:absolute;
  left:0px;
  top:3px;
  width:215px;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6946 {
  position:absolute;
  left:20px;
  top:165px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6948 {
  position:absolute;
  left:275px;
  top:165px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6950 {
  position:absolute;
  left:10px;
  top:254px;
  width:355px;
  height:110px;
}
#u6951 {
  position:absolute;
  left:2px;
  top:47px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6952 {
  position:absolute;
  left:20px;
  top:294px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u6954 {
  position:absolute;
  left:20px;
  top:264px;
  width:355px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u6956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6956 {
  position:absolute;
  left:275px;
  top:294px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:225px;
  height:21px;
}
#u6958p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:217px;
  height:1px;
}
#u6958p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:228px;
  height:22px;
}
#u6958p001 {
  position:absolute;
  left:202px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6958p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u6958.compound {
  width:0px;
  height:0px;
}
#u6958 {
  position:absolute;
  left:80px;
  top:304px;
  width:215px;
  height:1px;
}
#u6959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6960 {
  position:absolute;
  left:20px;
  top:334px;
  width:215px;
  height:20px;
  color:#666666;
}
#u6961 {
  position:absolute;
  left:0px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u6962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u6962 {
  position:absolute;
  left:80px;
  top:285px;
  width:215px;
  height:20px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u6963 {
  position:absolute;
  left:0px;
  top:3px;
  width:215px;
  word-wrap:break-word;
}
#u6964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6964 {
  position:absolute;
  left:20px;
  top:314px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6965 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6966 {
  position:absolute;
  left:275px;
  top:314px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u6967 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
