body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4798 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u4799 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u4800 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u4801 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u4802 {
  position:absolute;
  left:172px;
  top:137px;
  width:76px;
  height:76px;
}
#u4803 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u4804 {
  position:absolute;
  left:166px;
  top:229px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u4805 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
}
#u4806 {
  position:absolute;
  left:17px;
  top:278px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4806_img.selected {
}
#u4806.selected {
}
#u4807 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u4806_ann {
  position:absolute;
  left:400px;
  top:274px;
  width:1px;
  height:1px;
}
#u4808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u4808 {
  position:absolute;
  left:15px;
  top:392px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u4808_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u4808.selected {
}
#u4809 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u4810 {
  position:absolute;
  left:17px;
  top:334px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u4810_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u4810.selected {
}
#u4811 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
