body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8311 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u8312 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u8313 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u8314 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u8315 {
  position:absolute;
  left:172px;
  top:137px;
  width:76px;
  height:76px;
}
#u8316 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u8317 {
  position:absolute;
  left:166px;
  top:229px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u8318 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
}
#u8319 {
  position:absolute;
  left:17px;
  top:278px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8319_img.selected {
}
#u8319.selected {
}
#u8320 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u8319_ann {
  position:absolute;
  left:400px;
  top:274px;
  width:1px;
  height:1px;
}
#u8321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u8321 {
  position:absolute;
  left:15px;
  top:392px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u8321_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u8321.selected {
}
#u8322 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u8323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u8323 {
  position:absolute;
  left:17px;
  top:334px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u8323_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u8323.selected {
}
#u8324 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
