body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:599px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u6057_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6057_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.498039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6059 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:208px;
}
#u6060 {
  position:absolute;
  left:183px;
  top:71px;
  width:182px;
  height:208px;
}
#u6061 {
  position:absolute;
  left:2px;
  top:96px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u6062 {
  position:absolute;
  left:334px;
  top:64px;
  width:20px;
  height:9px;
}
#u6063 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6064 {
  position:absolute;
  left:230px;
  top:87px;
  width:93px;
  height:21px;
}
#u6065 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u6066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6066 {
  position:absolute;
  left:199px;
  top:113px;
  width:149px;
  height:1px;
}
#u6067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6068 {
  position:absolute;
  left:199px;
  top:152px;
  width:149px;
  height:1px;
}
#u6069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6070 {
  position:absolute;
  left:199px;
  top:190px;
  width:149px;
  height:1px;
}
#u6071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6072 {
  position:absolute;
  left:230px;
  top:126px;
  width:93px;
  height:21px;
}
#u6073 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u6074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6074 {
  position:absolute;
  left:230px;
  top:163px;
  width:93px;
  height:21px;
}
#u6075 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u6076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6076 {
  position:absolute;
  left:230px;
  top:201px;
  width:110px;
  height:21px;
}
#u6077 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u6078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6078 {
  position:absolute;
  left:199px;
  top:202px;
  width:20px;
  height:20px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u6080 {
  position:absolute;
  left:199px;
  top:87px;
  width:25px;
  height:20px;
}
#u6081 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u6082 {
  position:absolute;
  left:200px;
  top:161px;
  width:18px;
  height:20px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u6084 {
  position:absolute;
  left:199px;
  top:126px;
  width:25px;
  height:20px;
}
#u6085 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u6086 {
  position:absolute;
  left:199px;
  top:232px;
  width:149px;
  height:1px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6088 {
  position:absolute;
  left:230px;
  top:244px;
  width:110px;
  height:21px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u6090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6090 {
  position:absolute;
  left:200px;
  top:244px;
  width:20px;
  height:20px;
}
#u6091 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6093 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6094 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6095 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u6096 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u6097 {
  position:absolute;
  left:15px;
  top:35px;
  width:11px;
  height:16px;
}
#u6098 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  text-align:center;
}
#u6099 {
  position:absolute;
  left:85px;
  top:31px;
  width:205px;
  height:26px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  text-align:center;
}
#u6100 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  word-wrap:break-word;
}
#u6101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
}
#u6101 {
  position:absolute;
  left:339px;
  top:39px;
  width:22px;
  height:4px;
}
#u6102 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6103 {
  position:absolute;
  left:10px;
  top:7px;
  width:360px;
  height:11px;
}
#u6104 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:48px;
}
#u6105 {
  position:absolute;
  left:220px;
  top:619px;
  width:155px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6105_img.disabled {
}
#u6105.disabled {
}
#u6106 {
  position:absolute;
  left:2px;
  top:14px;
  width:151px;
  word-wrap:break-word;
}
#u6107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u6107 {
  position:absolute;
  left:0px;
  top:619px;
  width:220px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u6108 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u6109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6109 {
  position:absolute;
  left:15px;
  top:631px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6109_img.selected {
}
#u6109.selected {
}
#u6110 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6111 {
  position:absolute;
  left:120px;
  top:636px;
  width:48px;
  height:15px;
  font-size:13px;
}
#u6112 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u6113 {
  position:absolute;
  left:171px;
  top:633px;
  width:50px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u6115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6115 {
  position:absolute;
  left:10px;
  top:105px;
  width:354px;
  height:216px;
}
#u6116 {
  position:absolute;
  left:2px;
  top:100px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6117 {
  position:absolute;
  left:55px;
  top:117px;
  width:58px;
  height:17px;
  color:#999999;
}
#u6118 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6119 {
  position:absolute;
  left:133px;
  top:139px;
  width:231px;
  height:17px;
  color:#666666;
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u6121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6121 {
  position:absolute;
  left:68px;
  top:136px;
  width:32px;
  height:32px;
}
#u6122 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6123 {
  position:absolute;
  left:19px;
  top:188px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6123_img.selected {
}
#u6123.selected {
}
#u6124 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6125 {
  position:absolute;
  left:11px;
  top:331px;
  width:354px;
  height:216px;
}
#u6126 {
  position:absolute;
  left:2px;
  top:100px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6127 {
  position:absolute;
  left:54px;
  top:340px;
  width:58px;
  height:17px;
  color:#999999;
}
#u6128 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6129 {
  position:absolute;
  left:133px;
  top:364px;
  width:231px;
  height:17px;
  color:#666666;
}
#u6130 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u6131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6131 {
  position:absolute;
  left:67px;
  top:359px;
  width:32px;
  height:32px;
}
#u6132 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6133 {
  position:absolute;
  left:19px;
  top:252px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6133_img.selected {
}
#u6133.selected {
}
#u6134 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6135 {
  position:absolute;
  left:19px;
  top:112px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6135_img.selected {
}
#u6135.selected {
}
#u6136 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6137 {
  position:absolute;
  left:19px;
  top:409px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6137_img.selected {
}
#u6137.selected {
}
#u6138 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6139 {
  position:absolute;
  left:19px;
  top:480px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6139_img.selected {
}
#u6139.selected {
}
#u6140 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6141 {
  position:absolute;
  left:19px;
  top:340px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u6141_img.selected {
}
#u6141.selected {
}
#u6142 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u6143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6143 {
  position:absolute;
  left:133px;
  top:112px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6144 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6145 {
  position:absolute;
  left:54px;
  top:185px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6146 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6147 {
  position:absolute;
  left:54px;
  top:252px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6148 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6149 {
  position:absolute;
  left:54px;
  top:212px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6150 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6151 {
  position:absolute;
  left:54px;
  top:279px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6152 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6153 {
  position:absolute;
  left:133px;
  top:337px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6154 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6155 {
  position:absolute;
  left:55px;
  top:401px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6156 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6157 {
  position:absolute;
  left:55px;
  top:468px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6158 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6159 {
  position:absolute;
  left:55px;
  top:428px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6160 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6161 {
  position:absolute;
  left:55px;
  top:495px;
  width:224px;
  height:17px;
  color:#666666;
}
#u6162 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u6163 {
  position:absolute;
  left:375px;
  top:97px;
  visibility:hidden;
}
#u6163_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u6163_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6164 {
  position:absolute;
  left:261px;
  top:92px;
  width:100px;
  height:60px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6166 {
  position:absolute;
  left:261px;
  top:181px;
  width:100px;
  height:40px;
}
#u6167 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6168 {
  position:absolute;
  left:261px;
  top:450px;
  width:100px;
  height:60px;
}
#u6169 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6170 {
  position:absolute;
  left:261px;
  top:537px;
  width:100px;
  height:40px;
}
#u6171 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u6172 {
  position:absolute;
  left:64px;
  top:522px;
  width:110px;
  height:70px;
}
#u6173 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u6174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6174 {
  position:absolute;
  left:538px;
  top:653px;
  width:100px;
  height:60px;
}
#u6175 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6176 {
  position:absolute;
  left:261px;
  top:611px;
  width:100px;
  height:60px;
}
#u6177 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6178 {
  position:absolute;
  left:261px;
  top:716px;
  width:100px;
  height:60px;
}
#u6179 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6180 {
  position:absolute;
  left:311px;
  top:152px;
  width:0px;
  height:0px;
}
#u6180_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u6180_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u6181 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6182 {
  position:absolute;
  left:311px;
  top:510px;
  width:0px;
  height:0px;
}
#u6182_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u6182_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u6183 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6184 {
  position:absolute;
  left:119px;
  top:592px;
  width:0px;
  height:0px;
}
#u6184_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u6184_seg1 {
  position:absolute;
  left:-4px;
  top:87px;
  width:423px;
  height:8px;
}
#u6184_seg2 {
  position:absolute;
  left:406px;
  top:81px;
  width:20px;
  height:20px;
}
#u6185 {
  position:absolute;
  left:114px;
  top:83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6186 {
  position:absolute;
  left:588px;
  top:653px;
  width:0px;
  height:0px;
}
#u6186_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u6186_seg1 {
  position:absolute;
  left:-5px;
  top:-16px;
  width:8px;
  height:20px;
}
#u6186_seg2 {
  position:absolute;
  left:-227px;
  top:-16px;
  width:230px;
  height:8px;
}
#u6186_seg3 {
  position:absolute;
  left:-234px;
  top:-22px;
  width:20px;
  height:20px;
}
#u6187 {
  position:absolute;
  left:-158px;
  top:-20px;
  width:100px;
  word-wrap:break-word;
}
#u6188 {
  position:absolute;
  left:588px;
  top:713px;
  width:0px;
  height:0px;
}
#u6188_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u6188_seg1 {
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:41px;
}
#u6188_seg2 {
  position:absolute;
  left:-227px;
  top:29px;
  width:232px;
  height:8px;
}
#u6188_seg3 {
  position:absolute;
  left:-234px;
  top:23px;
  width:20px;
  height:20px;
}
#u6189 {
  position:absolute;
  left:-146px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u6190 {
  position:absolute;
  left:261px;
  top:557px;
  width:0px;
  height:0px;
}
#u6190_seg0 {
  position:absolute;
  left:-87px;
  top:-4px;
  width:91px;
  height:8px;
}
#u6190_seg1 {
  position:absolute;
  left:-94px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6191 {
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:970px;
}
#u6192 {
  position:absolute;
  left:500px;
  top:41px;
  width:1px;
  height:969px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:476px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6194 {
  position:absolute;
  left:124px;
  top:897px;
  width:100px;
  height:40px;
}
#u6195 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6196 {
  position:absolute;
  left:261px;
  top:805px;
  width:100px;
  height:60px;
}
#u6197 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u6198 {
  position:absolute;
  left:375px;
  top:882px;
  width:110px;
  height:70px;
}
#u6199 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u6200 {
  position:absolute;
  left:311px;
  top:776px;
  width:0px;
  height:0px;
}
#u6200_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u6200_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u6201 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6202 {
  position:absolute;
  left:261px;
  top:835px;
  width:0px;
  height:0px;
}
#u6202_seg0 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:91px;
  height:8px;
}
#u6202_seg1 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:8px;
  height:66px;
}
#u6202_seg2 {
  position:absolute;
  left:-97px;
  top:49px;
  width:20px;
  height:20px;
}
#u6203 {
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204 {
  position:absolute;
  left:361px;
  top:835px;
  width:0px;
  height:0px;
}
#u6204_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u6204_seg1 {
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:51px;
}
#u6204_seg2 {
  position:absolute;
  left:59px;
  top:34px;
  width:20px;
  height:20px;
}
#u6205 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6206 {
  position:absolute;
  left:261px;
  top:264px;
  width:100px;
  height:60px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6208 {
  position:absolute;
  left:261px;
  top:367px;
  width:100px;
  height:40px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6210 {
  position:absolute;
  left:311px;
  top:221px;
  width:0px;
  height:0px;
}
#u6210_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u6210_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u6211 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212 {
  position:absolute;
  left:311px;
  top:324px;
  width:0px;
  height:0px;
}
#u6212_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u6212_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u6213 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6214 {
  position:absolute;
  left:311px;
  top:407px;
  width:0px;
  height:0px;
}
#u6214_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u6214_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u6215 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6216 {
  position:absolute;
  left:282px;
  top:29px;
  width:58px;
  height:17px;
}
#u6217 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6218 {
  position:absolute;
  left:604px;
  top:29px;
  width:58px;
  height:17px;
}
#u6219 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6220 {
  position:absolute;
  left:733px;
  top:23px;
  width:30px;
  height:30px;
}
#u6221 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6222 {
  position:absolute;
  left:459px;
  top:37px;
  width:140px;
  height:40px;
}
#u6223 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u6224 {
  position:absolute;
  left:20px;
  top:165px;
  width:335px;
  height:1px;
}
#u6225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u6226 {
  position:absolute;
  left:19px;
  top:235px;
  width:335px;
  height:1px;
}
#u6227 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u6228 {
  position:absolute;
  left:19px;
  top:390px;
  width:335px;
  height:1px;
}
#u6229 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u6230 {
  position:absolute;
  left:19px;
  top:455px;
  width:335px;
  height:1px;
}
#u6231 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6232 {
  position:absolute;
  left:10px;
  top:75px;
  width:113px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6233 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
