body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2533 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u2534 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u2535 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u2536 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u2537 {
  position:absolute;
  left:172px;
  top:137px;
  width:76px;
  height:76px;
}
#u2538 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u2539 {
  position:absolute;
  left:171px;
  top:229px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u2540 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
}
#u2541 {
  position:absolute;
  left:17px;
  top:278px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2541_img.selected {
}
#u2541.selected {
}
#u2542 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u2543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2543 {
  position:absolute;
  left:355px;
  top:36px;
  width:59px;
  height:32px;
}
#u2544 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u2545 {
  position:absolute;
  left:9px;
  top:36px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u2546 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
