body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:10px;
  top:10px;
  width:919px;
  height:583px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:284px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1072 {
  position:absolute;
  left:20px;
  top:20px;
  width:900px;
  height:1px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1074 {
  position:absolute;
  left:600px;
  top:20px;
  width:200px;
  height:30px;
  color:#FF0000;
}
#u1075 {
  position:absolute;
  left:0px;
  top:13px;
  width:200px;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1076 {
  position:absolute;
  left:800px;
  top:20px;
  width:120px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u1077 {
  position:absolute;
  left:0px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1078 {
  position:absolute;
  left:20px;
  top:70px;
  width:350px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1079 {
  position:absolute;
  left:0px;
  top:6px;
  width:350px;
  word-wrap:break-word;
}
#u1080 {
  position:absolute;
  left:20px;
  top:110px;
  width:855px;
  height:75px;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  color:#FF9900;
}
#u1082 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1083 {
  position:absolute;
  left:150px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1084 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1085 {
  position:absolute;
  left:350px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1086 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1087 {
  position:absolute;
  left:550px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1088 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1089 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1090 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:40px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1093 {
  position:absolute;
  left:150px;
  top:30px;
  width:200px;
  height:40px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1095 {
  position:absolute;
  left:350px;
  top:30px;
  width:200px;
  height:40px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1097 {
  position:absolute;
  left:550px;
  top:30px;
  width:200px;
  height:40px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1099 {
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:40px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1101 {
  position:absolute;
  left:381px;
  top:545px;
  width:257px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1103 {
  position:absolute;
  left:20px;
  top:207px;
  width:486px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1104 {
  position:absolute;
  left:0px;
  top:6px;
  width:486px;
  word-wrap:break-word;
}
#u1105 {
  position:absolute;
  left:20px;
  top:250px;
  width:855px;
  height:35px;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  color:#FF9900;
}
#u1107 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1108 {
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1109 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1110 {
  position:absolute;
  left:250px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1111 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1112 {
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1113 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1115 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1116 {
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1117 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1118 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1119 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1120 {
  position:absolute;
  left:20px;
  top:300px;
  width:486px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1121 {
  position:absolute;
  left:0px;
  top:6px;
  width:486px;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  position:absolute;
  left:20px;
  top:330px;
  width:850px;
  height:50px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:17px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
}
#u1124 {
  position:absolute;
  left:50px;
  top:390px;
  width:163px;
  height:41px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126 {
  position:absolute;
  left:20px;
  top:390px;
  width:100px;
  height:16px;
}
#u1127 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  position:absolute;
  left:236px;
  top:478px;
  width:150px;
  height:40px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  position:absolute;
  left:525px;
  top:478px;
  width:150px;
  height:40px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u1132 {
  position:absolute;
  left:231px;
  top:410px;
  width:251px;
  height:20px;
  font-size:13px;
  color:#FF0000;
}
#u1133 {
  position:absolute;
  left:0px;
  top:2px;
  width:251px;
  white-space:nowrap;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  position:absolute;
  left:50px;
  top:340px;
  width:163px;
  height:40px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
