body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7955 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u7957 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7959 {
  position:absolute;
  left:48px;
  top:376px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7960 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7961 {
  position:absolute;
  left:48px;
  top:455px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7962 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7963 {
  position:absolute;
  left:298px;
  top:397px;
  width:50px;
  height:26px;
}
#u7963_img.selected {
}
#u7963.selected {
}
#u7964 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7965 {
  position:absolute;
  left:298px;
  top:476px;
  width:50px;
  height:26px;
}
#u7965_img.selected {
}
#u7965.selected {
}
#u7966 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7967 {
  position:absolute;
  left:14px;
  top:121px;
  width:392px;
  height:48px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:16px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7969 {
  position:absolute;
  left:32px;
  top:138px;
  width:44px;
  height:17px;
  color:#999999;
}
#u7970 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u7971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7971 {
  position:absolute;
  left:100px;
  top:138px;
  width:272px;
  height:17px;
  color:#666666;
}
#u7972 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u7973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7973 {
  position:absolute;
  left:14px;
  top:179px;
  width:392px;
  height:48px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:16px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7975 {
  position:absolute;
  left:32px;
  top:196px;
  width:30px;
  height:17px;
  color:#999999;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7977 {
  position:absolute;
  left:100px;
  top:196px;
  width:272px;
  height:17px;
  color:#666666;
}
#u7978 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7979 {
  position:absolute;
  left:14px;
  top:94px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:48px;
}
#u7981 {
  position:absolute;
  left:0px;
  top:688px;
  width:420px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7982 {
  position:absolute;
  left:2px;
  top:14px;
  width:416px;
  word-wrap:break-word;
}
#u7983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7983 {
  position:absolute;
  left:48px;
  top:307px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7984 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7985 {
  position:absolute;
  left:18px;
  top:249px;
  width:87px;
  height:17px;
}
#u7986 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u7987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7987 {
  position:absolute;
  left:298px;
  top:329px;
  width:50px;
  height:26px;
}
#u7987_img.selected {
}
#u7987.selected {
}
#u7988 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7990 {
  position:absolute;
  left:361px;
  top:39px;
  width:45px;
  height:36px;
}
#u7991 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7992 {
  position:absolute;
  left:376px;
  top:39px;
  width:30px;
  height:30px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
