body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u7239 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u7240 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u7241 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7242 {
  position:absolute;
  left:48px;
  top:376px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7243 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7244 {
  position:absolute;
  left:48px;
  top:455px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7245 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7246 {
  position:absolute;
  left:298px;
  top:397px;
  width:50px;
  height:26px;
}
#u7246_img.selected {
}
#u7246.selected {
}
#u7247 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7248 {
  position:absolute;
  left:298px;
  top:476px;
  width:50px;
  height:26px;
}
#u7248_img.selected {
}
#u7248.selected {
}
#u7249 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7250 {
  position:absolute;
  left:14px;
  top:121px;
  width:392px;
  height:48px;
}
#u7251 {
  position:absolute;
  left:2px;
  top:16px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7252 {
  position:absolute;
  left:32px;
  top:138px;
  width:44px;
  height:17px;
  color:#999999;
}
#u7253 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u7254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7254 {
  position:absolute;
  left:100px;
  top:138px;
  width:272px;
  height:17px;
  color:#666666;
}
#u7255 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u7256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7256 {
  position:absolute;
  left:14px;
  top:179px;
  width:392px;
  height:48px;
}
#u7257 {
  position:absolute;
  left:2px;
  top:16px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7258 {
  position:absolute;
  left:32px;
  top:196px;
  width:30px;
  height:17px;
  color:#999999;
}
#u7259 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7260 {
  position:absolute;
  left:100px;
  top:196px;
  width:272px;
  height:17px;
  color:#666666;
}
#u7261 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u7262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7262 {
  position:absolute;
  left:14px;
  top:94px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u7263 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:48px;
}
#u7264 {
  position:absolute;
  left:0px;
  top:688px;
  width:420px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7265 {
  position:absolute;
  left:2px;
  top:14px;
  width:416px;
  word-wrap:break-word;
}
#u7266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7266 {
  position:absolute;
  left:48px;
  top:307px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7267 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7268 {
  position:absolute;
  left:18px;
  top:249px;
  width:87px;
  height:17px;
}
#u7269 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u7270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7270 {
  position:absolute;
  left:298px;
  top:329px;
  width:50px;
  height:26px;
}
#u7270_img.selected {
}
#u7270.selected {
}
#u7271 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7273 {
  position:absolute;
  left:361px;
  top:39px;
  width:45px;
  height:36px;
}
#u7274 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7275 {
  position:absolute;
  left:376px;
  top:39px;
  width:30px;
  height:30px;
}
#u7276 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
