body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7460 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u7461 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u7462 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u7463 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7464 {
  position:absolute;
  left:48px;
  top:376px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7465 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7466 {
  position:absolute;
  left:48px;
  top:455px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7467 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7468 {
  position:absolute;
  left:298px;
  top:397px;
  width:50px;
  height:26px;
}
#u7468_img.selected {
}
#u7468.selected {
}
#u7469 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7470 {
  position:absolute;
  left:298px;
  top:476px;
  width:50px;
  height:26px;
}
#u7470_img.selected {
}
#u7470.selected {
}
#u7471 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7472 {
  position:absolute;
  left:14px;
  top:121px;
  width:392px;
  height:48px;
}
#u7473 {
  position:absolute;
  left:2px;
  top:16px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7474 {
  position:absolute;
  left:32px;
  top:138px;
  width:44px;
  height:17px;
  color:#999999;
}
#u7475 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u7476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7476 {
  position:absolute;
  left:100px;
  top:138px;
  width:272px;
  height:17px;
  color:#666666;
}
#u7477 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u7478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7478 {
  position:absolute;
  left:14px;
  top:179px;
  width:392px;
  height:48px;
}
#u7479 {
  position:absolute;
  left:2px;
  top:16px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7480 {
  position:absolute;
  left:32px;
  top:196px;
  width:30px;
  height:17px;
  color:#999999;
}
#u7481 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u7482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7482 {
  position:absolute;
  left:100px;
  top:196px;
  width:272px;
  height:17px;
  color:#666666;
}
#u7483 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u7484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7484 {
  position:absolute;
  left:14px;
  top:94px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u7485 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:48px;
}
#u7486 {
  position:absolute;
  left:0px;
  top:688px;
  width:420px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7487 {
  position:absolute;
  left:2px;
  top:14px;
  width:416px;
  word-wrap:break-word;
}
#u7488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7488 {
  position:absolute;
  left:48px;
  top:307px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u7489 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u7490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7490 {
  position:absolute;
  left:18px;
  top:249px;
  width:87px;
  height:17px;
}
#u7491 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u7492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u7492 {
  position:absolute;
  left:298px;
  top:329px;
  width:50px;
  height:26px;
}
#u7492_img.selected {
}
#u7492.selected {
}
#u7493 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  word-wrap:break-word;
}
#u7494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7495 {
  position:absolute;
  left:361px;
  top:39px;
  width:45px;
  height:36px;
}
#u7496 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7497 {
  position:absolute;
  left:376px;
  top:39px;
  width:30px;
  height:30px;
}
#u7498 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
