body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u7070 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7072 {
  position:absolute;
  left:1px;
  top:687px;
  width:419px;
  height:49px;
}
#u7073 {
  position:absolute;
  left:2px;
  top:16px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7074 {
  position:absolute;
  left:13px;
  top:702px;
  width:88px;
  height:19px;
  font-size:16px;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u7076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u7076 {
  position:absolute;
  left:97px;
  top:702px;
  width:88px;
  height:21px;
  font-size:18px;
  color:#FF0000;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
}
#u7078 {
  position:absolute;
  left:270px;
  top:688px;
  width:150px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7079 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u7080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7080 {
  position:absolute;
  left:14px;
  top:137px;
  width:398px;
  height:139px;
}
#u7081 {
  position:absolute;
  left:2px;
  top:62px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7082 {
  position:absolute;
  left:39px;
  top:147px;
  width:217px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7084 {
  position:absolute;
  left:39px;
  top:187px;
  width:58px;
  height:17px;
  color:#999999;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u7086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7086 {
  position:absolute;
  left:126px;
  top:214px;
  width:242px;
  height:17px;
  color:#666666;
}
#u7087 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7088 {
  position:absolute;
  left:126px;
  top:187px;
  width:224px;
  height:17px;
  color:#666666;
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7090 {
  position:absolute;
  left:52px;
  top:207px;
  width:32px;
  height:32px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7092 {
  position:absolute;
  left:126px;
  top:241px;
  width:242px;
  height:17px;
  color:#666666;
}
#u7093 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u7094 {
  position:absolute;
  left:39px;
  top:176px;
  width:329px;
  height:1px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7096 {
  position:absolute;
  left:14px;
  top:108px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7098 {
  position:absolute;
  left:121px;
  top:108px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7099 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7100 {
  position:absolute;
  left:0px;
  top:83px;
  visibility:hidden;
}
#u7100_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7100_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:653px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7101 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:653px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:318px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:653px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.956862745098039);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u7103 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:653px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#000000;
}
#u7104 {
  position:absolute;
  left:2px;
  top:316px;
  width:416px;
  word-wrap:break-word;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7105 {
  position:absolute;
  left:140px;
  top:405px;
  width:140px;
  height:40px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
