body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u5726 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u5727 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u5728 {
  position:absolute;
  left:0px;
  top:688px;
  width:419px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u5728_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u5728.selected {
}
#u5729 {
  position:absolute;
  left:2px;
  top:14px;
  width:415px;
  word-wrap:break-word;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:605px;
}
#u5730 {
  position:absolute;
  left:0px;
  top:83px;
  width:419px;
  height:605px;
}
#u5731 {
  position:absolute;
  left:2px;
  top:294px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u5732 {
  position:absolute;
  left:6px;
  top:37px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u5733 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
