body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:422px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7316 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:734px;
}
#u7317 {
  position:absolute;
  left:2px;
  top:359px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:83px;
}
#u7318 {
  position:absolute;
  left:1px;
  top:0px;
  width:420px;
  height:83px;
}
#u7319 {
  position:absolute;
  left:2px;
  top:34px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:566px;
}
#u7320 {
  position:absolute;
  left:1px;
  top:168px;
  width:421px;
  height:566px;
}
#u7321 {
  position:absolute;
  left:2px;
  top:275px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:59px;
}
#u7322 {
  position:absolute;
  left:1px;
  top:99px;
  width:421px;
  height:59px;
}
#u7323 {
  position:absolute;
  left:2px;
  top:22px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u7324 {
  position:absolute;
  left:13px;
  top:115px;
  width:395px;
  height:24px;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u7325 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u7326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u7326 {
  position:absolute;
  left:13px;
  top:183px;
  width:397px;
  height:476px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u7327 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u7328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u7328 {
  position:absolute;
  left:13px;
  top:33px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u7329 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
