body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:421px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8534 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
}
#u8535 {
  position:absolute;
  left:2px;
  top:359px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:566px;
}
#u8536 {
  position:absolute;
  left:1px;
  top:168px;
  width:420px;
  height:566px;
}
#u8537 {
  position:absolute;
  left:2px;
  top:275px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:59px;
}
#u8538 {
  position:absolute;
  left:1px;
  top:99px;
  width:420px;
  height:59px;
}
#u8539 {
  position:absolute;
  left:2px;
  top:22px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:83px;
}
#u8540 {
  position:absolute;
  left:1px;
  top:0px;
  width:419px;
  height:83px;
}
#u8541 {
  position:absolute;
  left:2px;
  top:34px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u8542 {
  position:absolute;
  left:13px;
  top:114px;
  width:395px;
  height:24px;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u8543 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u8544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:476px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8544 {
  position:absolute;
  left:13px;
  top:183px;
  width:397px;
  height:476px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8545 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u8546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u8546 {
  position:absolute;
  left:6px;
  top:37px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u8547 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
