body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7937 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u7938 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u7939 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u7941 {
  position:absolute;
  left:172px;
  top:137px;
  width:76px;
  height:76px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u7943 {
  position:absolute;
  left:180px;
  top:229px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u7944 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
}
#u7945 {
  position:absolute;
  left:17px;
  top:278px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7945_img.selected {
}
#u7945.selected {
}
#u7946 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u7945_ann {
  position:absolute;
  left:400px;
  top:274px;
  width:1px;
  height:1px;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u7947 {
  position:absolute;
  left:17px;
  top:336px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u7947_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u7947.selected {
}
#u7948 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
