body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4516 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u4517 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u4518 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u4519 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u4520 {
  position:absolute;
  left:172px;
  top:137px;
  width:76px;
  height:76px;
}
#u4521 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u4522 {
  position:absolute;
  left:171px;
  top:229px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u4523 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
}
#u4524 {
  position:absolute;
  left:17px;
  top:278px;
  width:390px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4524_img.selected {
}
#u4524.selected {
}
#u4525 {
  position:absolute;
  left:2px;
  top:14px;
  width:386px;
  word-wrap:break-word;
}
#u4526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4527 {
  position:absolute;
  left:362px;
  top:38px;
  width:45px;
  height:36px;
}
#u4528 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4529 {
  position:absolute;
  left:377px;
  top:38px;
  width:30px;
  height:30px;
}
#u4530 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
