body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:736px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:360px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:82px;
}
#u5041 {
  position:absolute;
  left:1px;
  top:1px;
  width:418px;
  height:82px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:33px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5043 {
  position:absolute;
  left:6px;
  top:93px;
  width:410px;
  height:216px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:100px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5045 {
  position:absolute;
  left:6px;
  top:154px;
  width:410px;
  height:54px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:19px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5047 {
  position:absolute;
  left:51px;
  top:105px;
  width:58px;
  height:17px;
  color:#999999;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5049 {
  position:absolute;
  left:129px;
  top:127px;
  width:242px;
  height:17px;
  color:#666666;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5051 {
  position:absolute;
  left:64px;
  top:124px;
  width:32px;
  height:32px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5053 {
  position:absolute;
  left:15px;
  top:176px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5053_img.selected {
}
#u5053.selected {
}
#u5054 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5055 {
  position:absolute;
  left:6px;
  top:227px;
  width:410px;
  height:67px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:26px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5057 {
  position:absolute;
  left:7px;
  top:319px;
  width:410px;
  height:216px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:100px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  position:absolute;
  left:7px;
  top:379px;
  width:409px;
  height:60px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:22px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5061 {
  position:absolute;
  left:50px;
  top:328px;
  width:58px;
  height:17px;
  color:#999999;
}
#u5062 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5063 {
  position:absolute;
  left:138px;
  top:352px;
  width:242px;
  height:17px;
  color:#666666;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5065 {
  position:absolute;
  left:63px;
  top:347px;
  width:32px;
  height:32px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:7px;
  top:440px;
  width:409px;
  height:80px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:32px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:48px;
}
#u5069 {
  position:absolute;
  left:265px;
  top:688px;
  width:155px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5070 {
  position:absolute;
  left:2px;
  top:14px;
  width:151px;
  word-wrap:break-word;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5071 {
  position:absolute;
  left:15px;
  top:240px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5071_img.selected {
}
#u5071.selected {
}
#u5072 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5073 {
  position:absolute;
  left:15px;
  top:100px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5073_img.selected {
}
#u5073.selected {
}
#u5074 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5075 {
  position:absolute;
  left:15px;
  top:397px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5075_img.selected {
}
#u5075.selected {
}
#u5076 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5077 {
  position:absolute;
  left:15px;
  top:468px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5077_img.selected {
}
#u5077.selected {
}
#u5078 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5079 {
  position:absolute;
  left:15px;
  top:328px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5079_img.selected {
}
#u5079.selected {
}
#u5080 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:left;
}
#u5081 {
  position:absolute;
  left:0px;
  top:688px;
  width:265px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:406;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:left;
}
#u5082 {
  position:absolute;
  left:2px;
  top:14px;
  width:261px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5083 {
  position:absolute;
  left:15px;
  top:700px;
  width:25px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5083_img.selected {
}
#u5083.selected {
}
#u5084 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5085 {
  position:absolute;
  left:129px;
  top:100px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5086 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5087 {
  position:absolute;
  left:50px;
  top:173px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5090 {
  position:absolute;
  left:360px;
  top:39px;
  width:45px;
  height:36px;
}
#u5091 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5092 {
  position:absolute;
  left:375px;
  top:39px;
  width:30px;
  height:30px;
}
#u5093 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5094 {
  position:absolute;
  left:50px;
  top:240px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5095 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5096 {
  position:absolute;
  left:50px;
  top:200px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5098 {
  position:absolute;
  left:50px;
  top:267px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5099 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5100 {
  position:absolute;
  left:138px;
  top:325px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5101 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5102 {
  position:absolute;
  left:51px;
  top:389px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5103 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5104 {
  position:absolute;
  left:51px;
  top:456px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5105 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5106 {
  position:absolute;
  left:51px;
  top:416px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5107 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5108 {
  position:absolute;
  left:51px;
  top:483px;
  width:224px;
  height:17px;
  color:#666666;
}
#u5109 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u5110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u5110 {
  position:absolute;
  left:15px;
  top:39px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u5111 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
