body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372 {
  position:absolute;
  left:10px;
  top:10px;
  width:919px;
  height:583px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:284px;
  width:915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1374 {
  position:absolute;
  left:20px;
  top:20px;
  width:900px;
  height:1px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1376 {
  position:absolute;
  left:600px;
  top:20px;
  width:200px;
  height:30px;
  color:#FF0000;
}
#u1377 {
  position:absolute;
  left:0px;
  top:13px;
  width:200px;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1378 {
  position:absolute;
  left:800px;
  top:20px;
  width:120px;
  height:30px;
  color:#FF0000;
  text-align:right;
}
#u1379 {
  position:absolute;
  left:0px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1380 {
  position:absolute;
  left:20px;
  top:70px;
  width:350px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1381 {
  position:absolute;
  left:0px;
  top:6px;
  width:350px;
  word-wrap:break-word;
}
#u1382 {
  position:absolute;
  left:20px;
  top:110px;
  width:855px;
  height:75px;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  color:#FF9900;
}
#u1384 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1385 {
  position:absolute;
  left:150px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1386 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1387 {
  position:absolute;
  left:350px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1388 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1389 {
  position:absolute;
  left:550px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1390 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1391 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1392 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1393 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:40px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1395 {
  position:absolute;
  left:150px;
  top:30px;
  width:200px;
  height:40px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1397 {
  position:absolute;
  left:350px;
  top:30px;
  width:200px;
  height:40px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1399 {
  position:absolute;
  left:550px;
  top:30px;
  width:200px;
  height:40px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1401 {
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:40px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1403 {
  position:absolute;
  left:383px;
  top:496px;
  width:257px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1405 {
  position:absolute;
  left:20px;
  top:207px;
  width:486px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1406 {
  position:absolute;
  left:0px;
  top:6px;
  width:486px;
  word-wrap:break-word;
}
#u1407 {
  position:absolute;
  left:20px;
  top:250px;
  width:855px;
  height:115px;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1408 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  color:#FF9900;
}
#u1409 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1410 {
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1411 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1412 {
  position:absolute;
  left:250px;
  top:0px;
  width:200px;
  height:30px;
  color:#FF9900;
}
#u1413 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1414 {
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1415 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1416 {
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1417 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1418 {
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1419 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1420 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF9900;
}
#u1421 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1422 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:40px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1424 {
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:40px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1426 {
  position:absolute;
  left:250px;
  top:30px;
  width:200px;
  height:40px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1428 {
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:40px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1430 {
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:40px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1432 {
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:40px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1434 {
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:40px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1436 {
  position:absolute;
  left:0px;
  top:70px;
  width:150px;
  height:40px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1438 {
  position:absolute;
  left:150px;
  top:70px;
  width:100px;
  height:40px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1440 {
  position:absolute;
  left:250px;
  top:70px;
  width:200px;
  height:40px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1442 {
  position:absolute;
  left:450px;
  top:70px;
  width:100px;
  height:40px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1444 {
  position:absolute;
  left:550px;
  top:70px;
  width:100px;
  height:40px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1446 {
  position:absolute;
  left:650px;
  top:70px;
  width:100px;
  height:40px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1448 {
  position:absolute;
  left:750px;
  top:70px;
  width:100px;
  height:40px;
  text-decoration:underline;
  color:#169BD5;
}
#u1449 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:357px;
  top:401px;
  width:200px;
  height:40px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1452 {
  position:absolute;
  left:780px;
  top:325px;
  width:80px;
  height:30px;
}
#u1453 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
