body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:421px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8682 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
}
#u8683 {
  position:absolute;
  left:2px;
  top:359px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:544px;
}
#u8684 {
  position:absolute;
  left:1px;
  top:190px;
  width:419px;
  height:544px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:264px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u8686 {
  position:absolute;
  left:1px;
  top:99px;
  width:419px;
  height:80px;
}
#u8687 {
  position:absolute;
  left:2px;
  top:32px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:83px;
}
#u8688 {
  position:absolute;
  left:1px;
  top:0px;
  width:419px;
  height:83px;
}
#u8689 {
  position:absolute;
  left:2px;
  top:34px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u8690 {
  position:absolute;
  left:13px;
  top:114px;
  width:395px;
  height:48px;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u8691 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u8692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:484px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u8692 {
  position:absolute;
  left:13px;
  top:204px;
  width:395px;
  height:484px;
  font-size:14px;
  line-height:22px;
}
#u8693 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u8694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u8694 {
  position:absolute;
  left:13px;
  top:38px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u8695 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
