body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:421px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:359px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:544px;
}
#u5021 {
  position:absolute;
  left:1px;
  top:190px;
  width:419px;
  height:544px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:264px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u5023 {
  position:absolute;
  left:1px;
  top:99px;
  width:419px;
  height:80px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:32px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:83px;
}
#u5025 {
  position:absolute;
  left:1px;
  top:0px;
  width:419px;
  height:83px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:34px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u5027 {
  position:absolute;
  left:13px;
  top:114px;
  width:395px;
  height:48px;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:484px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u5029 {
  position:absolute;
  left:13px;
  top:204px;
  width:395px;
  height:484px;
  font-size:14px;
  line-height:22px;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
