body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:421px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9687 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:734px;
}
#u9688 {
  position:absolute;
  left:2px;
  top:359px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:544px;
}
#u9689 {
  position:absolute;
  left:1px;
  top:190px;
  width:419px;
  height:544px;
}
#u9690 {
  position:absolute;
  left:2px;
  top:264px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:80px;
}
#u9691 {
  position:absolute;
  left:1px;
  top:99px;
  width:419px;
  height:80px;
}
#u9692 {
  position:absolute;
  left:2px;
  top:32px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:83px;
}
#u9693 {
  position:absolute;
  left:1px;
  top:0px;
  width:419px;
  height:83px;
}
#u9694 {
  position:absolute;
  left:2px;
  top:34px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u9695 {
  position:absolute;
  left:13px;
  top:114px;
  width:395px;
  height:48px;
  font-size:16px;
  text-align:center;
  line-height:24px;
}
#u9696 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u9697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:484px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:22px;
}
#u9697 {
  position:absolute;
  left:13px;
  top:204px;
  width:395px;
  height:484px;
  font-size:14px;
  line-height:22px;
}
#u9698 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u9699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
}
#u9699 {
  position:absolute;
  left:13px;
  top:38px;
  width:45px;
  height:36px;
  font-size:16px;
  color:#0099FF;
}
#u9700 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
